<!--  FIVE TRANSITIONS -->
{% include base.html %}

{% if site.show_five_transitions %}
    <div class="container ft_container"><div class="row"><div class="col-md-12">
    <div class="card ft_card container">
      <div class="row ft_title">
        <h3>
           <span class="ft_strong">The Five Great Economic Transitions</span>
           <span>required in order to move into a more viable, sustainable socioeconomic system</span>
        </h3>
      </div>
      <div class="row">
        <div class="col-md-8 ft_videocol">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/vLHy7cSdg1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 ft_list">
          <ul>
			    <li><a href="fget/automation.html">Labor for Income to Automation</a></li>
			    <li><a href="fget/access.html">Property to Access</a></li>
			    <li><a href="fget/opensource.html">Corporations to Open Source</a></li>
			    <li><a href="fget/localization.html">Globalization to Localization</a></li>
			    <li><a href="fget/ndf.html">Price to Networked Digital Feedback</a></li>
			    </ul>
        </div>
      </div>
    </div>
    </div></div></div>
{% endif %}