    <!-- SITES -->
    <div class="row mb-2 posts">
	<div class="col-md-12 card">

<h2>Community websites</h2>

<h3>Branches</h3>

<ul>

<li>Finland <a href="https://tzm.fi">https://tzm.fi</a></li>

</ul>

<h3>Other</h3>

<ul>
	
<li><a href="https://news.tzm.community/">https://news.tzm.community/</a></li>
<li><a href="https://materials.tzm.community/">https://materials.tzm.community/</a></li>
<li><a href="https://template.tzm.community/">https://template.tzm.community/</a></li>
<li><a href="https://tzmcommunity.github.io/docs">https://tzmcommunity.github.io/docs</a></li>
<li><a href="https://test.tzm.community/">https://test.tzm.community/</a></li>

</ul>
</div>
</div>

	<!-- SITES -->