    <!-- POSTS -->
    <div class="row mb-2 posts">
    {% assign counter = 0 %}
  
    {% for post in site.posts %}
    {% if post.hide==false and counter < site.posts_max_home %}
    {% if site.posts_two_col == true%}
    <div class="col-md-6 posts_row">
    {% elsif site.posts_three_col == true %}
    <div class="col-md-4 posts_row">
    {% else %}
    <div class="col-md-12 posts_row">
    {% endif %}
    
    {% assign counter = counter | plus: 1 %}
    
        <div class="card mb-4 box-shadow h-md-250 post-teaser">
          {% if post.thumbnail %}
          <div class="thumbnail">
             <img src="{{ base }}/{{ post.thumbnail }}">
          </div>
          {% endif %}
            <header class="posts_item_header">
               <h3 class="mb-0">
                  <a class="post-link" href="{{ base }}{{ post.url }}">
                    {{ post.title }}
                  </a>
               </h3>
                <p class="meta">
                  {{ post.date | date: "%B %-d, %Y" }}
                </p>
              </header>

              <div class="excerpt">
                  {{ post.excerpt }}
                  
                  {% if post.content.size > post.excerpt.size %}
                    <a class="read_more" href="{{ base }}{{ post.url }}">{{ site.posts_readmore_text }} </a>
                  {% endif %}

                <!--{{ post.content | strip_html | truncate: "250" }}-->
                <!--<a class="button" href="{{ post.url }}">
                  {{ site.theme_settings.str_continue_reading }}
                </a>-->
              </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
  </div> <!-- posts row closing -->
