---
layout: default
---

{% include base.html %}

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background-image: url('{{ base }}/{{ page.feature-img }}')">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
        {{ page.title }}
    </h1>
    
    {% if page.subtitle %}
    <h2 class="subtitle">{{ page.subtitle }}</h2>
    {% endif %}
      
  </header>
  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
  
	{{ content | toc }}
	
	<h2>The project</h2>

    <h3>Help needed</h3>
    <p>{{ page.help_needed }}</p>
    
	<h3>Activity</h3>
	<p>{{ page.activity }}</p>

    <h3>Contact</h3>
    <p>{{ page.contact }}</p>
    
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>

</article>
